In [1]:
#Import dependencies
import os
import pandas as pd
import json
import numpy as np
import requests

In [2]:
#Loading csv
cleveland_df= pd.read_csv('Cleveland_data.csv')
cleveland_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0,0,1
1,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0,0,2
2,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0,0,3
3,56,1,2,120,236,0,0,178,0,0.8,1,0.0,3.0,0,0,4
4,57,0,4,120,354,0,0,163,1,0.6,1,0.0,3.0,0,0,5

In [21]:
#Check data type of each column
cleveland_df.dtypes

age           int64
sex          object
cp           object
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca          float64
thal        float64
num           int64
target        int64
id            int64
dtype: object

In [ ]:
#Age: displays the age of the individual.
# Sex: displays the gender of the individual using the following format :
# 1 = male
# 0 = female
# Chest-pain type: displays the type of chest-pain experienced by the individual using the following format :
# 1 = typical angina
# 2 = atypical angina
# 3 = non — anginal pain
# 4 = asymptotic
# Resting Blood Pressure: displays the resting blood pressure value of an individual in mmHg (unit)
# Serum Cholestrol: displays the serum cholesterol in mg/dl (unit)
# Fasting Blood Sugar: compares the fasting blood sugar value of an individual with 120mg/dl.
# If fasting blood sugar > 120mg/dl then : 1 (true)
# else : 0 (false)
# Resting ECG : displays resting electrocardiographic results
# 0 = normal
# 1 = having ST-T wave abnormality
# 2 = left ventricular hyperthrophy
# Max heart rate achieved : displays the max heart rate achieved by an individual.
# Exercise induced angina :
# 1 = yes
# 0 = no
# ST depression induced by exercise relative to rest: displays the value which is an integer or float.
# Peak exercise ST segment :
# 1 = upsloping
# 2 = flat
# 3 = downsloping
# ca: Number of major vessels (0–3) colored by flourosopy : displays the value as integer or float.
# Thal : displays the thalassemia :
# 3 = normal
# 6 = fixed defect
# 7 = reversible defect
# Diagnosis of heart disease : Displays whether the individual is suffering from heart disease or not :
# 0 = absence
# 1, 2, 3, 4 = present.

In [18]:
#Rename values of "sex" column
cleveland_df.loc[(cleveland_df.sex == '1'),'sex']='Male'
cleveland_df.loc[(cleveland_df.sex == 0),'sex']='Female'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0,0,1
1,37,Male,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0,0,2
2,41,Female,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0,0,3
3,56,Male,2,120,236,0,0,178,0,0.8,1,0.0,3.0,0,0,4
4,57,Female,4,120,354,0,0,163,1,0.6,1,0.0,3.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,2,120,157,0,0,182,0,0.0,1,0.0,3.0,0,0,299
299,53,Female,3,128,216,0,2,115,0,0.0,1,0.0,NaN,0,0,300
300,52,Male,3,138,223,0,0,169,0,0.0,1,NaN,3.0,0,0,301
301,58,Male,2,125,220,0,0,144,0,0.4,2,NaN,7.0,0,0,302
302,38,Male,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0,0,303

In [20]:
#Rename values of "cp" column
cleveland_df.loc[(cleveland_df.cp == 1),'cp']='Typical angina'
cleveland_df.loc[(cleveland_df.cp == 2),'cp']='Atypical angina'
cleveland_df.loc[(cleveland_df.cp == 3),'cp']='Non — anginal pain'
cleveland_df.loc[(cleveland_df.cp == 4),'cp']='Asymptotic'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,Typical angina,145,233,1,2,150,0,2.3,3,0.0,6.0,0,0,1
1,37,Male,Non — anginal pain,130,250,0,0,187,0,3.5,3,0.0,3.0,0,0,2
2,41,Female,Atypical angina,130,204,0,2,172,0,1.4,1,0.0,3.0,0,0,3
3,56,Male,Atypical angina,120,236,0,0,178,0,0.8,1,0.0,3.0,0,0,4
4,57,Female,Asymptotic,120,354,0,0,163,1,0.6,1,0.0,3.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,Atypical angina,120,157,0,0,182,0,0.0,1,0.0,3.0,0,0,299
299,53,Female,Non — anginal pain,128,216,0,2,115,0,0.0,1,0.0,NaN,0,0,300
300,52,Male,Non — anginal pain,138,223,0,0,169,0,0.0,1,NaN,3.0,0,0,301
301,58,Male,Atypical angina,125,220,0,0,144,0,0.4,2,NaN,7.0,0,0,302
302,38,Male,Non — anginal pain,138,175,0,0,173,0,0.0,1,NaN,3.0,0,0,303

In [22]:
#Rename values of "fbs" column
cleveland_df.loc[(cleveland_df.fbs == 1),'fbs']='> 120mg/dl'
cleveland_df.loc[(cleveland_df.fbs == 0),'fbs']='< 120mg/dl'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,Typical angina,145,233,> 120mg/dl,2,150,0,2.3,3,0.0,6.0,0,0,1
1,37,Male,Non — anginal pain,130,250,< 120mg/dl,0,187,0,3.5,3,0.0,3.0,0,0,2
2,41,Female,Atypical angina,130,204,< 120mg/dl,2,172,0,1.4,1,0.0,3.0,0,0,3
3,56,Male,Atypical angina,120,236,< 120mg/dl,0,178,0,0.8,1,0.0,3.0,0,0,4
4,57,Female,Asymptotic,120,354,< 120mg/dl,0,163,1,0.6,1,0.0,3.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,Atypical angina,120,157,< 120mg/dl,0,182,0,0.0,1,0.0,3.0,0,0,299
299,53,Female,Non — anginal pain,128,216,< 120mg/dl,2,115,0,0.0,1,0.0,NaN,0,0,300
300,52,Male,Non — anginal pain,138,223,< 120mg/dl,0,169,0,0.0,1,NaN,3.0,0,0,301
301,58,Male,Atypical angina,125,220,< 120mg/dl,0,144,0,0.4,2,NaN,7.0,0,0,302
302,38,Male,Non — anginal pain,138,175,< 120mg/dl,0,173,0,0.0,1,NaN,3.0,0,0,303

In [23]:
#Rename values of "restecg" column
cleveland_df.loc[(cleveland_df.restecg == 0),'restecg']='Normal'
cleveland_df.loc[(cleveland_df.restecg == 1),'restecg']='ST-T wave abnormality'
cleveland_df.loc[(cleveland_df.restecg == 2),'restecg']='Left ventricular hyperthrophy'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,Typical angina,145,233,> 120mg/dl,Left ventricular hyperthrophy,150,0,2.3,3,0.0,6.0,0,0,1
1,37,Male,Non — anginal pain,130,250,< 120mg/dl,Normal,187,0,3.5,3,0.0,3.0,0,0,2
2,41,Female,Atypical angina,130,204,< 120mg/dl,Left ventricular hyperthrophy,172,0,1.4,1,0.0,3.0,0,0,3
3,56,Male,Atypical angina,120,236,< 120mg/dl,Normal,178,0,0.8,1,0.0,3.0,0,0,4
4,57,Female,Asymptotic,120,354,< 120mg/dl,Normal,163,1,0.6,1,0.0,3.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,Atypical angina,120,157,< 120mg/dl,Normal,182,0,0.0,1,0.0,3.0,0,0,299
299,53,Female,Non — anginal pain,128,216,< 120mg/dl,Left ventricular hyperthrophy,115,0,0.0,1,0.0,NaN,0,0,300
300,52,Male,Non — anginal pain,138,223,< 120mg/dl,Normal,169,0,0.0,1,NaN,3.0,0,0,301
301,58,Male,Atypical angina,125,220,< 120mg/dl,Normal,144,0,0.4,2,NaN,7.0,0,0,302
302,38,Male,Non — anginal pain,138,175,< 120mg/dl,Normal,173,0,0.0,1,NaN,3.0,0,0,303

In [24]:
#Rename values of "exang" column
cleveland_df.loc[(cleveland_df.exang== 1),'exang']='Yes'
cleveland_df.loc[(cleveland_df.exang == 0),'exang']='No'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,Typical angina,145,233,> 120mg/dl,Left ventricular hyperthrophy,150,No,2.3,3,0.0,6.0,0,0,1
1,37,Male,Non — anginal pain,130,250,< 120mg/dl,Normal,187,No,3.5,3,0.0,3.0,0,0,2
2,41,Female,Atypical angina,130,204,< 120mg/dl,Left ventricular hyperthrophy,172,No,1.4,1,0.0,3.0,0,0,3
3,56,Male,Atypical angina,120,236,< 120mg/dl,Normal,178,No,0.8,1,0.0,3.0,0,0,4
4,57,Female,Asymptotic,120,354,< 120mg/dl,Normal,163,Yes,0.6,1,0.0,3.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,Atypical angina,120,157,< 120mg/dl,Normal,182,No,0.0,1,0.0,3.0,0,0,299
299,53,Female,Non — anginal pain,128,216,< 120mg/dl,Left ventricular hyperthrophy,115,No,0.0,1,0.0,NaN,0,0,300
300,52,Male,Non — anginal pain,138,223,< 120mg/dl,Normal,169,No,0.0,1,NaN,3.0,0,0,301
301,58,Male,Atypical angina,125,220,< 120mg/dl,Normal,144,No,0.4,2,NaN,7.0,0,0,302
302,38,Male,Non — anginal pain,138,175,< 120mg/dl,Normal,173,No,0.0,1,NaN,3.0,0,0,303

In [25]:
#Rename values of "slope" column
cleveland_df.loc[(cleveland_df.slope == 1),'slope']='Upsloping'
cleveland_df.loc[(cleveland_df.slope == 2),'slope']='Flat'
cleveland_df.loc[(cleveland_df.slope == 3),'slope']='Downsloping'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,Typical angina,145,233,> 120mg/dl,Left ventricular hyperthrophy,150,No,2.3,Downsloping,0.0,6.0,0,0,1
1,37,Male,Non — anginal pain,130,250,< 120mg/dl,Normal,187,No,3.5,Downsloping,0.0,3.0,0,0,2
2,41,Female,Atypical angina,130,204,< 120mg/dl,Left ventricular hyperthrophy,172,No,1.4,Upsloping,0.0,3.0,0,0,3
3,56,Male,Atypical angina,120,236,< 120mg/dl,Normal,178,No,0.8,Upsloping,0.0,3.0,0,0,4
4,57,Female,Asymptotic,120,354,< 120mg/dl,Normal,163,Yes,0.6,Upsloping,0.0,3.0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,Atypical angina,120,157,< 120mg/dl,Normal,182,No,0.0,Upsloping,0.0,3.0,0,0,299
299,53,Female,Non — anginal pain,128,216,< 120mg/dl,Left ventricular hyperthrophy,115,No,0.0,Upsloping,0.0,NaN,0,0,300
300,52,Male,Non — anginal pain,138,223,< 120mg/dl,Normal,169,No,0.0,Upsloping,NaN,3.0,0,0,301
301,58,Male,Atypical angina,125,220,< 120mg/dl,Normal,144,No,0.4,Flat,NaN,7.0,0,0,302
302,38,Male,Non — anginal pain,138,175,< 120mg/dl,Normal,173,No,0.0,Upsloping,NaN,3.0,0,0,303

In [26]:
#Rename values of "thal" column
cleveland_df.loc[(cleveland_df.thal == 1),'thal']='Normal'
cleveland_df.loc[(cleveland_df.thal == 2),'thal']='Fixed Defect'
cleveland_df.loc[(cleveland_df.thal == 3),'thal']='Reversible Defect'
cleveland_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,target,id
0,63,Male,Typical angina,145,233,> 120mg/dl,Left ventricular hyperthrophy,150,No,2.3,Downsloping,0.0,6,0,0,1
1,37,Male,Non — anginal pain,130,250,< 120mg/dl,Normal,187,No,3.5,Downsloping,0.0,Reversible Defect,0,0,2
2,41,Female,Atypical angina,130,204,< 120mg/dl,Left ventricular hyperthrophy,172,No,1.4,Upsloping,0.0,Reversible Defect,0,0,3
3,56,Male,Atypical angina,120,236,< 120mg/dl,Normal,178,No,0.8,Upsloping,0.0,Reversible Defect,0,0,4
4,57,Female,Asymptotic,120,354,< 120mg/dl,Normal,163,Yes,0.6,Upsloping,0.0,Reversible Defect,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,41,Male,Atypical angina,120,157,< 120mg/dl,Normal,182,No,0.0,Upsloping,0.0,Reversible Defect,0,0,299
299,53,Female,Non — anginal pain,128,216,< 120mg/dl,Left ventricular hyperthrophy,115,No,0.0,Upsloping,0.0,NaN,0,0,300
300,52,Male,Non — anginal pain,138,223,< 120mg/dl,Normal,169,No,0.0,Upsloping,NaN,Reversible Defect,0,0,301
301,58,Male,Atypical angina,125,220,< 120mg/dl,Normal,144,No,0.4,Flat,NaN,7,0,0,302
302,38,Male,Non — anginal pain,138,175,< 120mg/dl,Normal,173,No,0.0,Upsloping,NaN,Reversible Defect,0,0,303

In [28]:
cleveland_df.to_csv('cleveland_dataset.csv', index=False)